

.center {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; 
    height: 100%; 
}


body{

    background-color: rgb(48, 48, 48);
    margin: 0;
}

h1 {margin: 0;}

 .center-box {

    display: block;
    background-color: rgb(185, 54, 54);
    /* height:100vh; */
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    

 }

 .center-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height:30vh;
    width: 100%;
   
   
 }

.center-heading {
    text-align: center;
    
}

 .center-middle {
    
    height:70vh;
    width: 50vw;
    position: relative;
    background-image: url('/img/zahahadid-portrait.jpg');
    background-size: cover;
    color: white;
    
    background-color: rgb(223, 192, 21);
    position: relative;
    text-align: center;
   
 }

 .text {
  
   font-size: 20px;
   font-weight: bold;
   padding: 20px;
   position: absolute;
   bottom: 40px;
   left: 16px;
   width: 600px;
 

} 


 .center-bottom {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height:50%;
    width: 50vw;
    padding-top: 50px;
    padding-bottom: 50px;
 
 }

 .center-bottom-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    width: 70%;    
 }

 .center-bottom-byography{
    width: 70%;
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: large;
 }

 .center-bottom-footer{
    padding-top: 20px;
    height: 10px;   
 }

 .name{
    color: rgb(102, 102, 148);
 }


    /* div.picture1 {
      height:70vh;
      width: 50vw;
      background-image:url('/img/zahahadid-portrait.jpg');
      margin:0; 
      padding:0;
      background-size: cover;
    } */
     
   
  
  